mat-card {
  width: 400px;
}

.stamp-title {
  font-size: 20px;
}

.stamp-buttons {
  margin-left: auto;
}

.stamp-date-text {
  margin-left: auto;
  font-size: 10px;
}

.stamp-description {
  padding: 0px 10px 0px 10px;
  height: 50px;
  overflow-y: scroll;
}

.stamp-image-area {
  max-width: 400px;
  overflow-x: scroll;
}

.stamp-image {
  height: 150px;
}

.stamp-author {
  font-size: 10px;
  margin-left: auto;
}
