<mat-card class="stamp-card mat-elevation-z3">
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
    <mat-card-content fxLayout="column" fxLayoutAlign="start">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <span class="stamp-title crms-fg-black2">{{ stamp.title }}</span>

        <div class="stamp-buttons">
          <button mat-icon-button class="crms-fg-black2" (click)="onDownload()">
            <mat-icon>download</mat-icon>
          </button>
          <button mat-icon-button class="crms-fg-black2" (click)="onDelete()">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <div class="stamp-image-area" fxLayout="row" fxLayoutAlign="start start" fxFlexOffset="20px">
        <div *ngFor="let imageSrc of images">
          <img [src]="imageSrc" class="stamp-image" />
        </div>
      </div>

      <div class="stamp-description crms-fg-black2" fxFlexOffset="20px">
        {{ stamp.description }}
      </div>

      <span class="stamp-author crms-fg-black2" fxFlexOffset="5px">
        投稿者： {{ stamp.user.lastName + ' ' + stamp.user.firstName }}
      </span>
      <span class="stamp-date-text crms-fg-black2">{{
        stamp.createdAt.toLocaleString().split('T')[0]
      }}</span>
    </mat-card-content>
  </div>
</mat-card>
