<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.abelab.timestamp.db.mapper.StampMapper">
    <resultMap id="BaseResultMap" type="dev.abelab.timestamp.db.entity.Stamp" extends="dev.abelab.timestamp.db.mapper.base.StampBaseMapper.BaseResultMap"></resultMap>

    <insert id="bulkInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into stamp(title, description, user_id) values
        <foreach collection="list" item="item" separator=",">
            (#{item.title}, #{item.description}, #{item.userId})
        </foreach>

    </insert>

</mapper>
