<div fxLayout="column">
  <table class="crms-bg-white1" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th class="crms-fg-black2" mat-header-cell *matHeaderCellDef>名前</th>
      <td class="crms-fg-black2" mat-cell *matCellDef="let user">
        {{ user.lastName + " " + user.firstName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th class="crms-fg-black2" mat-header-cell *matHeaderCellDef>
        メールアドレス
      </th>
      <td class="crms-fg-black2" mat-cell *matCellDef="let user">
        {{ user.email }}
      </td>
    </ng-container>

    <ng-container matColumnDef="userRole">
      <th class="crms-fg-black2" mat-header-cell *matHeaderCellDef>権限</th>
      <td class="crms-fg-black2" mat-cell *matCellDef="let user">
        <div [ngSwitch]="user.roleId">
          <span *ngSwitchCase="1"
            ><mat-icon>admin_panel_settings</mat-icon></span
          >
          <span *ngSwitchCase="2"><mat-icon>person</mat-icon></span>
          <span *ngSwitchDefault><mat-icon>warning</mat-icon></span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user">
        <button
          mat-raised-button
          class="crms-fg-white1 mat-elevation-z2"
          color="primary"
          (click)="onEditClick(user)"
        >
          編集
        </button>
        <button
          mat-button
          class="crms-fg-white1 crms-bg-gray1 mat-elevation-z2"
          style="margin-left: 10px"
          (click)="onDeleteClick(user)"
        >
          削除
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</div>
