.title-text {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
}

.rcc-image {
  height: 70%;
  width: auto;
  pointer-events: none;
}

app-header-user-menu {
  margin-right: 10px;
}

.main-content {
  min-height: calc(100vh - 46px);
}
