<div class="crms-fg-black2">
  <button mat-button [matMenuTriggerFor]="menu" fxLayout="row">
    <mat-icon>account_circle</mat-icon>
    <span class="user-name-text">{{ userName }}</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onProfileClick()">
      <div class="crms-fg-black2">
        <mat-icon>manage_accounts</mat-icon>
        <span>プロフィール編集</span>
      </div>
    </button>
    <button mat-menu-item (click)="onPasswordClick()">
      <div class="crms-fg-black2">
        <mat-icon>lock</mat-icon>
        <span>パスワード更新</span>
      </div>
    </button>
    <button mat-menu-item (click)="onLogoutClick()">
      <div class="crms-fg-black2">
        <mat-icon>logout</mat-icon>
        <span>ログアウト</span>
      </div>
    </button>
  </mat-menu>
</div>
